<div class="jumbotron">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Nearby surfing spots</th>
					</tr>
				</thead>
				<tbody>
					<td>Soon to come!</td>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<table class="table table-hover table-striped" width = "800">
				<thead>
					<tr>
						<th>
							Favorite spots
							<% if defined?(Devise)%>
							<% if user_signed_in?%>
								<%= link_to 'Manage favorites',  favorites_path, class: "btn btn-primary btn-xs pull-right" %>
							<% end %>
							<% end %> 
						</th>
					</tr>
				</thead>
				<tbody>
					<% if defined?(Devise)%>
					<% if user_signed_in?%>
						<% current_user.favorites.limit(5).each do |favorite| %>
							<tr>
								<% location = Location.find(favorite.location_id) %>
								<td><%= link_to location.name, location %></td>
							</tr>
						<% end %>
					<% else %>
					<td>You need to log in to use this feature!</td>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARk-UZoJMXrtZU1dnuUDXysY1eRUYd6gg&sensor=false&callback=initialize"></script>
	
	<script type="text/javascript" href="/app/assets/javascripts/google_maps.js"></script>
	
	<div class="google-maps-canvas" id="map-canvas"></div>
</div>
