<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARk-UZoJMXrtZU1dnuUDXysY1eRUYd6gg&sensor=false&callback=initialize"></script>

<script type="text/javascript" href="/app/assets/javascripts/google_maps.js"></script>

<div id="map-canvas" style="position: absolute; width:70%; height:70%; margin-left: 15%; margin-top: 3%"></div>