<p id="notice"><%= notice %></p>

<p>
  
  <%=Location.find(@favorite.location_id).name%>
  is now listed as one of your favorites!
</p>

<%= link_to :back, class: "btn btn-primary" do%>
	<span class= "glyphicon glyphicon-arrow-left"></span>
<% end %>
