<div class="container">
	<div class="row">
		<div id="map-outer" class="col-md-12">
			<div class="col-md-6 col-md-offset-3">

				<table class="table table-striped">
					<thead>
						<tr>
							<th><font size="5"><strong>Counties</strong></font></th>
						</tr>
					</thead>

					<tbody>
						<% @counties.all.each do |county| %>
						<tr>
							<td><%= link_to county.name, county %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
		<div id="footer" class="col-md-12">@Instwaves no rights reserved</div> 
