<div class="container">
	<div class="row">
		<div id="map-outer" class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><font size="5"><strong><%= @county.name %> Forecast</strong></font></th>
						</tr>

					</thead>

					<tbody>

						<% Location.find_each do |location| %>
						<% if @county == location.county %>
						<tr>
							<td><%= link_to location.name, Location.find(location.id) %> <canvas class="spot_forecast"
							id="1" data-location=<%= location.id %> data-view ="county_view" width="496" height="94"></canvas></td>
						</tr>

						<% end %>
						<% end %>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="col-md-12">
	@Instwaves no rights reserved
</div>

