/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome

*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";


// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}
.google-maps-canvas1 {
  position: absolute;
  margin-right: 16%;
  margin-top: 0%;
  width:67%; 
  height: 78%;
}


// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

.form-user {
  max-width: 450px;
}

.jumbotron{
  width: 75%;
  height: 108%;
  margin-left: auto;
  margin-right: auto;
}

body{
  // background-image: url(/assets/shattered.png);
    background-color: #A8A8A8;
  // background-repeat:  repeat;
  height: 100%;
  overflow-x:hidden;
}

html {
    height: 100%
}

.navbar{
  background-image: url(/assets/debut_dark.png);
  margin-bottom: 0;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #E6E6E6;
}
