// 
// #map-outer {
  // // position:relative;
  // padding: 2%; 
  // border: 2px solid #CCC; 
  // margin-bottom: 20px; 
  // background-color:#FFF
// }
#map-canvas1 {
   height:600px;
}

.table {
  text-align: left;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.panel {
  margin-left : 3.3%;
  margin-right: 3.3%;
}
// @media all and (max-width: 100%) {
    // #map-outer  { 
      // // height: 650px 
      // }
    // }
