// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.google-maps-canvas {
  position: absolute;
  margin-left: 3%;
  margin-top: 2%;
  width: 61%; 
  height: 40%;
}
.leftColumn {
    float: left;
      margin-left: 5%;

}
.rightColumn {
    float: right;
      margin-right: 5%;

}
.image {
    position: absolute;
    margin-top: 3%;
    margin-left: 20%;

}

.table_forecast {
    position: absolute;
    margin-top: 30%;
    margin-left: 3%;
    width: 61%; 
    overflow: hidden;
}
