
    
.image {
    position: absolute;
    margin-top: 3%;
    margin-left: 20%;
}

.table_forecast td {
   text-align: center;   
}
.table_forecast th {
   // background-color: #00FF00;
   text-align: center;   
}