// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section{
  float: left;
  // width: 40%;
  
  margin-left: 18%;

}
aside{
  float: right;
  // width: 40%;
  margin-right: 18%;
}



.google-maps-canvas {
  position: absolute;
  // margin-right: 3%;
  // margin-top: 10%;
  width:  20%; 
  height: 20%;
}

.leftColumn {
    float: left;
      margin-left: 5%;

}
.rightColumn {
    float: right;
      margin-right: 5%;
}
.image {
    position: absolute;
    margin-top: 3%;
    margin-left: 20%;

}

.table_forecast {
    position: absolute;
    margin-top: 20%;
    margin-left: 3%;
    width: 61%; 
    overflow: hidden;
}
.table_forecast td {
   text-align: center;   
}
.table_forecast th {
   // background-color: #00FF00;
   text-align: center;   
}
#forecasts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#forecasts td, #forecasts th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#forecasts th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#forecasts tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}