// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.google-maps-canvas {
  
  
  position: absolute;
  margin-left: -33.3%;
  margin-top: 10%;
  width:60%; 
  height: 50%;
}
.leftColumn {
    float: left;
      margin-left: 20%;

}
.rightColumn {
    float: right;
      margin-right: 20%;

}


